
 
  .table {
    th, td {
      text-align: left;
    }
    width: 30%;
    font-size: 24px;
  }
  
 /*
  input, button{
    padding: 12px 20px;
    margin: 8px 0;
    box-sizing: border-box;
  }
  .inputm{
      width: 35%;
      height: 3em;
      font-size: 20px;
      color: black;
  }
  .save{
      width: 7%;
      height: 4em;
      color: black;
      background: rgb(119, 238, 7);
      margin-left: 10px;
  }
  .delete{
    width: 45%;
    height: 4em;
    color: black;
    background: rgba(255, 28, 11, 0.966);
}
*/
