<div>
  <h1>Write something with #hashtag</h1>
  <div class="w-auto p-3">
    <form class="form-inline">
      <input class="input-group-text"  type="text" #name placeholder="Enter here anything" />

      <button class="btn btn-success" style="margin-left: 10px;" type="submit" (click)="addList(name.value)">Save</button>
      <button class="btn btn-warning" style="margin-left: 10px;" type="reset" >Clear</button>
    </form>
  
  <div class="w-auto p-3"></div>
    <br><hr>
    <table class="table">
      <thead class="table table-striped">
        <tr>
          <th>#</th>
          <th>All Inputs</th>
        </tr>
      </thead>

      <tbody>
        <tr *ngFor="let list of lists">
          <td>{{list.descr}}</td> <td><button class="btn btn-danger" (click)="removeList(list)">Delete</button></td>
        </tr>
      </tbody>
    </table>
  </div>
</div>