<!--The content below is only a placeholder and can be replaced.-->
<div class="text-center">
    <h1 class="card-title">
      Welcome to {{ title }}!
    </h1>
    <p class="card-text">With supporting text below as a natural lead-in to additional content.</p>
    <a href="#" class="btn btn-info">Go somewhere</a>
</div>


<app-hash></app-hash>

<router-outlet></router-outlet>
